.buttons-container{
  
  display: flex;
  justify-content: end;
  margin: auto;
  margin-top: 15px;
  }

.cancelButton{  
  padding: 15px 50px;
  color: rgb(202 94 88);
  font-weight: 600;
  border: solid 2px rgb(231 196 195);
  border-radius: 8px;
  background-color: transparent;
  margin-left: 100px;   
}

.submitButton{
  margin-left: 200px;
  padding: 15px 50px;
  color: rgb(246 248 245);
  font-weight: 600;
 border-radius: 8px;
 border: 0;
  background-color: rgb(69 123 59);
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #d9d9d9;
}